:root{
    --primary: #fdfcfc;
}


/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.6) url('public/images/wallpaperku.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    box-sizing: border-box;
}

/* Navbar Styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 4rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    flex-wrap: wrap;
    box-sizing: border-box;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}
nav .search-container {
    display: flex;
    align-items: center;
}
nav input {
    width: 200px;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 5px;
}
nav button:first-of-type {
    background: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
}

nav button:first-of-type:hover {
    background: #388E3C; 
}

nav button:last-of-type {
    background: #2E8B57;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
}

nav button:last-of-type:hover {
    background: #20603D; 
}

/* Ensure Navbar Buttons Fit Within the Navbar */
nav .buttons-container {
    display: flex;
    gap: 5px;
}

/* Hero Section */
#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

}
#home::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    background: linear-gradient(
      0deg,
      rgba(1, 1, 3, 1) 8%,
      rgba(255, 255, 255, 0) 55%
    );
}
#home .home-left{
    padding: 150px 0 0 4rem;
}
#home h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 10px black;
}
#home p {
    font-size: 1.2rem;
}

/* Recommendation Section */
#top-recommendations{
    height: 90vh;
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--primary);
    gap: 50px;
}
#top-recommendations::before {
    content: "";
    display: block;
    background-color: red;
    position: absolute;
    width: 100%;
    height: 20%;
    top: 99%;
    transform: rotateX(180deg);
    background: linear-gradient(
      0deg,
      rgba(1, 1, 3, 1) 8%,
      rgba(255, 255, 255, 0) 55%
    );
    z-index: 999;
}
#top-recommendations h2{
    padding: 0 4rem;
}
/* Recomendation Wrap Top */
.wrap {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  .carousel {
    display: flex;
    left: -100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    transform: translateX(100%);
  }

  @media (min-width: 30em) {
    .carousel {
      left: -50%;
      transform: translateX(50%);
    }
  }

  @media (min-width: 40em) {
    .carousel {
      left: -33.33333%;
      transform: translateX(33.33333%);
    }
    .carousel.second {
      left: -20%;
      transform: translateX(20%);
    }
  }

  .carousel.is-reversing {
    transform: translateX(-100%);
  }
  .carousel.second.is-reversing {
    transform: translateX(-20%);
  }

  @media (min-width: 30em) {
    .carousel.is-reversing {
      transform: translateX(-50%);
    }
    .carousel.second.is-reversing {
      transform: translateX(-50%);
    }
  }

  @media (min-width: 40em) {
    .carousel.is-reversing {
      transform: translateX(-33.33333%);
    }
    .carousel.second.is-reversing {
      transform: translateX(-20%);
    }
  }

  .carousel.is-set {
    transform: none;
    transition: transform 0.5s ease-in-out;
  }
  .carousel.second.is-set {
    transform: none;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-seat {
    flex: 1 0 100%;
    order: 2;
    box-sizing: border-box;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 475px;
    min-height: 263px;
}
.carousel-seat.second{
    min-width: 253px;
    min-height: 168px;
  }

  
  @media (min-width: 30em) {
    .carousel-seat {
      flex-basis: 50%;
    }
  }

  @media (min-width: 40em) {
    .carousel-seat {
      flex-basis: 33.33333%;
    }
    .carousel-seat.second {
        flex-basis: 20%;
      }
  }

  .carousel-seat.is-ref {
    order: 1;
  }
  .card{
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      cursor: pointer;
  }
  .card::after {
      content: '';
      position: absolute;
      top: 0; 
      left: 0;
      width: 100%; 
      height: 100%;
      background: rgba(0, 0, 0, 0);
      transition: background 0.3s ease;
  }
  .card:hover::after {
      background: rgba(0, 0, 0, 0.2);
  }
  .card img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
      display: block;
  }
  .card div{
      position: absolute;
      bottom: 0;
      color: white;
      padding: 10px 10px;
      font-size: 2.2rem;
      font-weight: bold;
      text-shadow: 2px 2px 10px black;
  }

  .controls button {
    position: absolute;
    background: #aaa;
    border: 0;
    border-radius: 0.25em;
    color: #eee;
    padding: 0.5em 1em;
  }

  .prevBtn,
  .nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    color: black;
    border: 1px solid black;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    z-index: 10;
}
.prevBtn.second,
.nextBtn.second {
    padding: 7px 10px;
}
.prevBtn {
    left: 0;
}

.nextBtn {
    right: 0;
}

.prevBtn:hover,
.nextBtn:hover,
.prevBtn:focus,
.nextBtn:focus {
    background: orange;
}
.carousel-seat.second .card div{
    font-size: 1.5rem;
}
/* Recomendation Wrap Top */



/* About Us Section */
#about-us {
    padding: 0 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--primary);
    color: black;
}
#about-us h1 {
    font-size: 2.5rem;
    text-align: left;
}
.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: nowrap;
}
.team h2{
    font-size: 2rem;
}
.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .team-card {
    background: #f9f9f9;
    width: 220px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    border: 2px solid black;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  .team-card .hovers-profile {
    background-color: #007bff;
    border-radius: 50%;
    width: 200%;
    transition: 0.3s;
    position: absolute;
    height: 145%;
    top: -200%;
    left: -50%;
  }
  .team-card .profile-pic {
      width: 120px;
      height: 120px;
      background-size: cover;
      background-position: center;
      margin: 40px auto 10px;
      border-radius: 50%;
      border: 2px solid black;
      box-sizing: border-box;
      transition: transform 0.3s ease;
    }
    
  .team-card .name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px;
  }
  
  .team-card .role {
    font-size: 14px;
    color: gray;
    margin-bottom: 15px;
  }
  
  .team-card .details {
    background: #007bff;
    color: white;
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .team-card .details a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 7px;
    border-radius: 50%;
  }
  .team-card .details a:hover{
    background-color: white;
    transition: 0.5s linear;
  }
  .team-card .details a img:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
  }
  
  .team-card:hover .profile-pic {
    transform: scale(0.85);
  }
  
  .team-card:hover .details {
    transition: 0.5s linear;
    bottom: 0;
  }
  .team-card:hover .hovers-profile {
    top: -100%;
    transition: 0.5s linear;
  }
  .team-card:hover .profile-pic {
    box-shadow: 0 0 0 10px #1369ce;
    border: 10px solid #f7f5ec;
    transform: scale(0.7);
    transition: 0.5s ease-in-out;
  }

/* Contact Us Section */
#contact-us {
    background: var(--primary);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 500px;
    font-size: 1rem;
}
.contact-container h1{
    font-size: 2rem;
}
.contact-container form{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-container form .contact-top{
    display: flex;
    width: 60%;
    height: 5rem;
    justify-content: space-between;
}
.contact-container form .contact-top .half{
    display: flex;
    width: 48%;
    flex-direction: column;
    height: 2rem;
}
.contact-container form .contact-top .half label{
    padding: 0 0 0 5px;

}
.contact-container form .contact-top .half input{
    padding: 1rem;
    color: white;
    font-size: 1rem;
    width: auto;
    border-radius: 0.5rem;
    border: 1px solid white;
    background-color: rgb(27, 7, 58);
}
.contact-container form .contact-bot{
    display: flex;
    width: 60%;
    flex-direction: column;
    margin: 1rem 0;
    gap: 5px;
}
.contact-container form .contact-bot textarea{
    padding: 13px;
    color: black;
    font-size: 1rem;
    width: auto;
    background-color: rgb(27, 7, 58);
    border-radius: 0.5rem;
}
.contact-container form button{
    width: 60%;
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
    padding: 8px 0;
    border-radius: 10px;
    border: 1.5px solid black;
    background-color: #007bff;
}
.contact-container form button:hover{background-color:#2a91ff;}
.contact-container form button:focus{
    background-color: #1369ce;
    color: white;
}
/* Responsive Design */
@media (max-width: 768px) {
    #home {
        flex-direction: column;
        text-align: center;
    }
    .team-container {
        flex-direction: column;
    }
    .team-card {
        width: 100%;
    }
}

.spacex{
    height: 50vh;
}